<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>


</head>

<body>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>

            <img src="{% static 'img/icon.png' %}" alt="icon" class="logo" />
            <span class="fs-4">Al-Shahd WareHouse</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="/login" class="nav-link   text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Inventory
                </a>
            </li>

            <li>
                <a href="/customers" class="nav-link active text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#grid"></use>
                    </svg>
                    Customers
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#people-circle"></use>
                    </svg>
                    Employees
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>Husam Saad</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                <li><a class="dropdown-item" href="#">Add Customer</a></li>
                <li><a class="dropdown-item" href="#">Add Product</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>

    <div class="main_view">

        <h1>Al-Shahd Company - Customers</h1>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline" id="search">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>



            </form>
            <a href="/add_customer" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add
                Customer</a>
        </nav>

        <table class="table table-striped" id="data_table">

            <table class="table table-striped" id="data_table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Name</th>
                        <th scope="col">ID Number</th>
                        <th scope="col">Last Update</th>
                        <th scope="col">birthday</th>
                        <th scope="col">Items Were Sold</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    {% for customer in all_customers %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="http://127.0.0.1:8000/{{ customer.photo.file.url }}" target="_blank">
                                <img src="http://127.0.0.1:8000/{{ customer.photo.file.url }}" alt="icon"
                                    class="icon" />
                            </a></td>
                        <td>{{ customer.first_name }} {{ customer.second_name }}</td>
                        <td>{{ customer.identity }}</td>
                        <td>{{ customer.updated_at }}</td>
                        <td>{{ customer.birthday }}</td>

                        <td>{{ customer.items }}</td>

                        <td>{{ customer.notes }}</td>

                        <td>
                            <div class="actions">




                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" data-id="{{ item.id }}">
                                    Edit
                                    {{ item.id }}
                                </button>




                                <button type="button" class="btn btn-success" data-toggle="modal"
                                    data-target="#exampleModal"
                                    data-title="Sell Item : {{ item.name_item }} - SN: {{ item.sn }}" data-content="
                                    <strong>Item Name:</strong> {{ item.name_item }} <br /><br />
                                    <strong>Item SN:</strong> {{ item.sn }} <br><br />">
                                    Sell
                                </button>

                                <form action="delete_item" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="item_id" value="{{ item.id }}">
                                    <button type="submit">Delete</button>
                                </form>


                            </div>
                        </td>

                    </tr>

                    {% endfor %}


                </tbody>
            </table>
        </table>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>